button {
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.45rem 1rem;
}

button:hover {
  cursor: pointer;
}

.primary {
  background-color: var(--emerald-70);
}

.secondary {
  background-color: var(--emerald-80);
}
